:root {
    --black: #131313;
    --white: #fff;
    --grey: #6f6f6f;
    --red: #ff4040;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--black);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Header section */

.header__inner {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-right: 73px;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 10px;
}

.menu__list-link {
    display: block;
    padding: 42px 20px;
    text-transform: uppercase;
    color: var(--black);
    /* background-color: inherit; */
    transition: all .3s ease;
}

.menu__list-link:hover {
    color: var(--white);
    background-color: var(--black);
}


/* Offer section */

.offer {
    padding-top: 97px;
}

.offer__wrapper {
    display: flex;
    justify-content: space-between;
}

.offer__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: var(--black);
    margin-bottom: 4px;
    margin-top: 73px;
}

.offer__subtitle {
    font-size: 32px;
    line-height: 39px;
    color: var(--grey);
    margin-bottom: 60px;
}

.offer__text {
    max-width: 420px;
    margin-block: 20px;
}

.offer__btn {
    margin-top: 80px;
}

.btn {
    display: inline-block;
    letter-spacing: 1.1em;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    padding: 28px 58px 28px 83px;
    transition: all .3s ease;
}

.btn:hover {
    background-color: var(--red);
}

.offer__slider {
    max-width: 570px;
}

.slider__items {
    max-width: 630px;
}

.slider__items .slick-dots {
    right: 0;
    top: 40px;
}

.slick-dots {
    position: absolute;
}

.slick-dots li button {
    border: none;
    font-size: 0;
    background-color: var(--black);
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    padding: 0;
    margin-block: 5px;
}

li.slick-active button {
    background-color: var(--red);
}

ul.offer__list {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
}

.offer__list-item {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 58px;
}

.offer__list-title {
    text-transform: uppercase;
    font-weight: 700;
}

.offer__list-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: auto 0;
}


/* Description section */

.description {
    padding-top: 150px;
}

.description__inner {
    display: flex;
}

.description__content {
    max-width: 45%;
}

.description__img {
    object-fit: cover;
    margin-right: 60px;
}

.description__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.description__title {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.description__text {
    max-width: 450px;
}


/* Characteristic section */

.characteristic {
    padding-top: 150px;
}

.characteristic__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}

.characteristic__inner {
    display: flex;
    justify-content: space-between;
}

table {
    max-width: 570px;
}

.table__item-title {
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    padding: 3px 0 3px 2px;
    margin: 10px 0 30px;
}

.characteristic__img {
    align-self: center;
}


/* Galery section */

.galery {
    padding-top: 150px;
}

.galery__slider-items {
    /* max-width: 1150px; */
    margin-left: 50px;
}

.galery__slider-items ul.slick-dots {
    top: 0;
    left: -50px;
}


/* Oreder section */

.order {
    padding-top: 150px;
    margin-bottom: 200px;
}

.order__inner {
    position: relative;
}

.form {
    max-width: 420px;
}

.form__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form__input-text {
    width: 298px;
    margin-bottom: 30px;
}

.form__text {
    margin-top: 20px;
}

.form__input-name,
.form__input-phone {
    border: none;
    border-bottom: 1px solid var(--black);
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    width: 100%;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__text {
    color: var(--grey);
    opacity: 0.5;
}

.form__bike {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}

.form__bike-price {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    font-size: 32px;
    width: 220px;
    height: 100px;
    border: 1px solid var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.form__bike-price::after {
    content: '';
    position: absolute;
    width: 220px;
    height: 100px;
    border: 1px solid var(--red);
    border-radius: 50%;
    top: 12px;
    left: 0;
}

.form__label-radio {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.form__label-radio:checked+.form__bike {
    display: block;
}

.form__radio-style {
    width: 80px;
    height: 12px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

.form__radio-style:hover {
    transform: scale(1.10);
}

.form__label+.form__label {
    margin-left: 23px;
}

.form__label-box {
    display: flex;
    margin: 10px 0 50px;
}

.form__radio-style--grey {
    background-color: var(--grey);
}

.form__radio-style--white {
    background-color: var(--white);
    border: 1px solid var(--grey);
}

.form__radio-style--red {
    background-color: var(--red);
}

.form__btn {
    border: none;
    cursor: pointer;
}


/* Footer section */

.footer {
    background-color: var(--black);
    padding: 25px 0;
}

.footer a {
    color: var(--white);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits {
    text-transform: lowercase;
    text-decoration: underline;
}

.social__items {
    margin: 0 14px;
}

.footer__social {
    display: flex;
}

.phone-link {
    margin-bottom: 20px;
    padding-left: 34px;
}

.phone-link::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../images/phone-icon.svg');
    left: 0;
    top: -5px;
}

.email-link {
    padding-left: 34px;
}

.email-link::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../images/email-icon.svg');
    left: 0;
    top: 30px;
}

.footer__contact {
    position: relative;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}


/* Adaptive */

@media(max-width: 1130px) {
    .offer {
        padding-top: 0;
    }
    .offer__title {
        font-size: 45px;
    }
    .offer__subtitle {
        font-size: 25px;
    }
    .offer__slider {
        margin: 30px auto;
    }
}

@media(max-width: 935px) {
    .offer__wrapper {
        display: block;
    }
    .offer__content {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
    }
}

@media(max-width: 768px) {
    .header__inner {
        display: block;
    }
    .header__logo img {
        margin: 0 auto;
    }
    .menu {
        margin-right: 0;
    }
    .menu__list {
        justify-content: space-evenly;
    }
    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }
    .offer {
        padding-top: 0;
    }
    .offer__wrapper {
        display: block;
    }
    .offer__content {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
    }
    .offer__btn {
        margin-top: 20px;
    }
    .offer__slider {
        margin: 30px auto;
    }
}

@media(max-width: 460px) {
    .menu__list {
        display: block;
        text-align: center;
    }
    .menu__list-link {
        padding: 20px 10px;
    }
    ul.offer__list {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .btn {
        padding: 28px 30px 28px 50px;
    }
    .offer__title {
        font-size: 33px;
    }
    .offer__subtitle {
        font-size: 21px;
        margin-bottom: 30px;
    }
}